{% extends 'base.html.twig' %}

{% block title %}ООО "ГРАДИЕНТ"{% endblock %}

{% block body %}
    <!-- Icon box aside right-->
    <section class="section novi-background section-50 section-md-bottom-41">
        <div class="container">
            <h1 class="text-between font-italic">Деятельность</h1>
            <div class="row justify-content-sm-center align-items-sm-center justify-content-xxl-between offset-top-41">
                <div class="col-md-9 col-xl-6 col-xxl-7"><img class="img-fluid d-none d-md-inline-block shadow-drop-lg" src="{{ asset('images/gradpict.png') }}" width="670" height="467" alt=""></div>
                <div class="col-md-9 col-xl-6 col-xxl-4 offset-md-top-66 offset-xl-top-0">
                    <div class="inset-xl-left-50 inset-xxl-left-0">
                        <!-- Icon Box Type 2-->
                        <div class="unit unit-sm flex-md-row text-md-left">
                            <div class="unit-left"><span class="icon novi-icon icon-lg icon-circle mdi mdi-factory material-icons-tag_faces text-picton-blue offset-md-top-14"></span></div>
                            <div class="unit-body">
                                <h4 class="font-weight-bold text-uppercase offset-md-top-24">Производство</h4>
                                <p>Производство резинотехнических изделий (РТИ), силовых и уплотнительных.</p>
                            </div>
                        </div>
                        <div class="offset-top-50">
                            <!-- Icon Box Type 2-->
                            <div class="unit unit-sm flex-md-row text-md-left">
                                <div class="unit-left"><span class="icon novi-icon icon-lg icon-circle fa fa-bar-chart text-picton-blue offset-md-top-14"></span></div>
                                <div class="unit-body">
                                    <h4 class="font-weight-bold text-uppercase offset-md-top-24">научные исследования</h4>
                                    <p>Расчет, проектирование, определение циклической долговечности резиновых элементов, характеристик их жёсткости, а также изготовление опытных образцов.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Classic Responsive Table-->
    <section class="section novi-background section-66 section-sm-top-41">
        <hr class="hr bg-gray">
        <div class="container">
            <h3 class="text-italic text-primary">КАРТОЧКА ПРЕДПРИЯТИЯ</h3>
            <div class="row offset-md-top-66">
                <div class="offset-xl-2 col-xl-8">
                    <!-- Classic Responsive Table-->
                    <table class="table table-custom" data-responsive="true">
                        <tr>
                            <td>Наименование организации (краткое)</td>
                            <td>ООО &laquo;Градиент&raquo;</td>
                        </tr>
                        <tr>
                            <td>ИНН / КПП</td>
                            <td>2222051916/222201001</td>
                        </tr>
                        <tr>
                            <td>ОГРН</td>
                            <td>1052202027460</td>
                        </tr>
                        <tr>
                            <td>Юридический адрес (почтовый)</td>
                            <td>656006, Алтайский край, г.Барнаул,ул.Взлетная,7,28</td>
                        </tr>
                        <tr>
                            <td>E-mail</td>
                            <td>gradient.barnaul@gmail.com</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
