{% extends 'base.html.twig' %}

{% block title %} Контакты {% endblock %}

{% block body %}
    {#  Contact us   #}
    <section class="section-41 novi-background" data-preset='{"title":"Contact form","category":"content, form","reload":true,"id":"contact-form"}'>
        <div class="container">
            <div class="row justify-content-sm-center">
                <div class="col-md-9 col-lg-8 col-xl-12">
                    <div class="row">
                        <div class="col-xl-8">
                            <h1 class="text-between font-italic">Связь с нами</h1>
                            <div class="text-left offset-top-30">
                                <p>Вы можете связаться с нами по электронной почте, а также используя форму быстрой связи ниже.
                                </p>
                            </div>

                            {{ include('layouts/_contact_us_form.html.twig') }}

                        </div>
                        <div class="col-xl-4 text-sm-left offset-top-66 offset-xl-top-0">
                            <div>
                                <p class="text-darker text-uppercase font-weight-bold">Контактные телефоны</p>
                            </div>
                            <div class="text-subline offset-top-10"></div>
                            <div class="offset-top-20"><a href="tel:+79130864003">+7(913)086-40-03</a></div>
                            <div><a href="tel:+79130262393">+7(913)026-23-93</a></div>
                            <div class="offset-top-50">
                                <p class="text-darker text-uppercase font-weight-bold">Почта</p>
                            </div>
                            <div class="text-subline offset-top-10"></div>
                            <div class="offset-top-20">
                                <p><a class="text-primary" href="mailto:gradient.barnaul@gmail.com">gradient.barnaul@gmail.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}