<!-- RD Mailform-->
    {{ form_start(contactForm, {
        'attr': {
            'class': 'text-left offset-top-50',
            'data-form-output': 'form-output-global',
            'data-form-type': 'contact'
        }
    }) }}
    {{ form_errors(contactForm) }}
    <div class="row novi-excluded">
        <div class="col-xl-6">
            <div class="form-group">
                {{ form_label(contactForm.name, null, {
                    'label': 'ФИО',
                    'label_attr': {'class': 'form-label form-label-outside'},
                }) }}
                {{ form_widget(contactForm.name,{
                    'attr': {
                        'class': 'form-control',
                        'data-constraints': '@Required'
                    }
                }) }}
            </div>
        </div>
        <div class="col-xl-6 offset-top-20 offset-xl-top-0">
            <div class="form-group">
                {{ form_label(contactForm.company, null, {
                    'label': 'Организация',
                    'label_attr': {'class': 'form-label form-label-outside'},
                }) }}
                {{ form_widget(contactForm.company,{
                    'attr': {
                        'class': 'form-control',
                    }
                }) }}
            </div>
        </div>
        <div class="col-xl-6 offset-top-20">
            <div class="form-group">
                {{ form_label(contactForm.email, null, {
                    'label': 'E-mail:',
                    'label_attr': {'class': 'form-label form-label-outside'}
                }) }}
                {{ form_widget(contactForm.email,{
                    'attr': {
                        'class': 'form-control',
                        'data-constraints': '@Required @Email'
                    }
                }) }}
            </div>
        </div>
        <div class="col-xl-6 offset-top-20">
            <div class="form-group">
                {{ form_label(contactForm.phoneNumber, null, {
                    'label': 'Телефон',
                    'label_attr': {'class': 'form-label form-label-outside'}
                }) }}
                {{ form_widget(contactForm.phoneNumber,{
                    'attr': {
                        'class': 'form-control',
                    }
                }) }}
            </div>
        </div>
        <div class="col-xl-12 offset-top-20">
            <div class="form-group">
                {{ form_label(contactForm.message, null, {
                    'label': 'Сообщение',
                    'label_attr': {'class': 'form-label form-label-outside'}
                }) }}
                {{ form_widget(contactForm.message,{
                    'attr': {
                        'class': 'form-control',
                        'data-constraints': '@Required',
                        'style': 'height: 160px;'
                    }
                }) }}
            </div>
        </div>
    </div>
    <div class="row justify-content-sm-center justify-content-xl-start offset-top-30">
        <div class="col-sm-5 col-md-4 col-xl-3">
            <div class="inset-left-50 inset-right-50 inset-sm-left-0 inset-sm-right-0 inset-xl-right-50">
                <button class="btn btn-primary btn-block" type="submit">отправить</button>
            </div>
        </div>
    </div>
{{ form_end(contactForm) }}