{% extends 'base.html.twig' %}

{% block title %} Изделия {% endblock %}

{% block body %}
    <!-- Our Shop-->
    <section class="section-41 section-md-top-34 section-md-bottom-124 novi-background" data-preset='{"title":"Content block 1","category":"content","reload":true,"id":"content-block-1"}'>
        <div class="container">
            <h1 class="text-between font-italic">Изделия</h1>
            <div class="offset-top-30">
                <!-- Tabs Classic-->
                <!-- Responsive-tabs-->
                <div class="responsive-tabs responsive-tabs-classic" data-type="horizontal">
                    <div class="resp-tabs-container text-left tabs-group-default" data-group="tabs-group-default">
                        <!-- First Tab-->
                        <div>
                            <div class="row">
                                <!-- Owl First Slide-->

                                {% for product in products %}
                                <div class="col-md-6 col-lg-3">
                                    <!-- Product-->
                                    <div class="product product-grid product-grid-type-2">
                                        <!-- Product Image-->
                                        <div class="product-image"><img class="img-fluid product-image-area" src="{{ product.images[0] }}" alt="">
                                        </div>
                                        <!-- Product Title-->
                                        <div class="product-title offset-top-4 text-primary"><a class="big" href="{{ path('app_product_show', {slug: product.slug}) }}">{{ product.name }}</a></div>
                                        <!-- Product price-->
                                        <div class="product-price font-weight-bold offset-top-20"><span class="h5 product-price-new">{{ product.price }} ₽</span>
                                        </div>
                                        <div class="product-block-hover">
                                            <!-- Product Add To cart--><a class="justify-content-center btn btn-icon btn-icon-left btn-primary product-btn btn-ellipse offset-top-20" href="{{ path('app_product_show', {slug: product.slug}) }}"><span class="icon mdi mdi-more novi-icon"></span>Подробнее</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}