{% extends 'base.html.twig' %}

{% block title %}Услуги{% endblock %}

{% block body %}
    <!-- What we do-->
    <section class="section novi-background section-50 section-sm-41 section-md-bottom-85">
        <div class="container">
            <h1 class="text-italic">Что мы предлагаем</h1>
            <hr class="divider bg-mantis">
            <div class="row offset-top-66">
                <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0">
                    <!-- Icon Box Type 4--><span class="icon novi-icon icon-circle icon-bordered icon-lg icon-default icon-filled fa fa-line-chart"></span>
                    <div>
                        <h4 class="font-weight-bold offset-top-20">Расчет</h4>
                        <p>
                            Расчет напряженно-деформированного состояния резиновых и резино-металлических элементов.
                        </p>
                    </div>
                </div>
                <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0 offset-top-66 offset-lg-top-0">
                    <!-- Icon Box Type 4--><span class="icon novi-icon icon-circle icon-bordered icon-lg icon-default icon-filled fas fa-area-chart"></span>
                    <div>
                        <h4 class="font-weight-bold offset-top-20">Определение</h4>
                        <p>
                            Определение нагрузок, действующих на резиновые элементы, а также причин их разрушения.
                        </p>
                    </div>
                </div>
                <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0 offset-top-66 offset-lg-top-0">
                    <!-- Icon Box Type 4--><span class="icon novi-icon icon-circle icon-bordered icon-lg icon-default icon-filled fa fa-connectdevelop"></span>
                    <div>
                        <h4 class="font-weight-bold offset-top-20">Разработка</h4>
                        <p>
                            Разработка оптимальной формы и конструктивных параметров резиновых элементов, позволяющих повысить их долговечность.
                        </p>
                    </div>
                </div>
                <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-4 offset-top-66 offset-lg-top-0">
                    <!-- Icon Box Type 4--><span class="icon novi-icon icon-circle icon-bordered icon-lg icon-default icon-filled fa fa-codepen"></span>
                    <div>
                        <h4 class="font-weight-bold offset-top-20">Проектирование и изготовление</h4>
                        <p>
                            Проектирование и изготовление опытных образцов резиновых элементов.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
