{% extends 'base.html.twig' %}

{% block title %} {{ product.name }} {% endblock %}

{% block body %}
    <section class="section novi-background section-50 section-md-bottom-124" data-preset='{"title":"Product","category":"shop","reload":true,"id":"product"}'>
        <div class="container pb-lg-5">
            <h1 class="text-between font-italic">Изделие</h1>
            <div class="row pb-lg-5">
                <div class="offset-1 col-lg-10">
                    <!-- Embed Video-->
                    <!-- Classic Soundcloud Player-->
                    <!-- RD Video Player-->
                    <div class="product product-single">
                        <div class="row justify-content-sm-center">
                            <div class="col-md-8 col-lg-5">
                                <div class="product-image"><img class="img-fluid product-image-area" src="{{ asset(product.images|first) }}" alt="">
                                    <ul class="product-thumbnails">
                                        {% for imagePath in product.images %}
                                        <li {% if imagePath == product.images[0] %}class="active" {% endif %} data-large-image="{{ asset(imagePath) }}"><img class="img-fluid" src="{{ asset(imagePath) }}" alt="" width="78" height="76"></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-7 text-left offset-top-66 offset-lg-top-0">
                                <!-- Product Brand-->
                                <p class="product-brand font-italic text-dark">ООО "Градиент"</p>
                                <!-- Product Title-->
                                <h3 class="product-title offset-top-0 font-default text-darker text-regular">{{ product.name }}</h3>
                                <!-- Product Rating-->

                                <!-- Bootstrap Accordion-->
                                <div class="offset-top-34">
                                    <div class="card card-classic">
                                        <div class="card-title text-primary">Описание:</div>
                                        <div class="card-body">
                                            {{ product.description }}
                                        </div>
                                    </div>
                                </div>
                                <!-- Product price-->
                                <div class="product-price font-weight-bold h3 text-darker text-ubold offset-top-34">Цена за шт.  <span class="product-price-new">{{ product.price }} ₽</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}