{# templates/emails/registration.html.twig #}
<meta charset="utf-8">
<h3>Сообщение</h3>
<div>
    <h4>Сообщение отправлено от {{ name }}</h4>
    <p>Телефон: {{ phoneNumber }}</p>
    <p>Email: {{ from_email }}</p>
    <p>Компания: <span class="text-bold">{{ company }}</span></p>
    <h5>Текст сообщения:</h5>
    <p>{{ message }}</p>
</div>