<!DOCTYPE html>
<html class="wow-animation" lang="en">
    <head>
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(61711621, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/61711621" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="keywords" content="РТИ, демпфер, резиновый, амортизатор, опытные образцы, проектирование, напряженно-деформированное состояние, долговечность, резиновые элементы">
        <meta name="description" content="ООО Градиент Барнаул ИНН 2222051916.Производство резинотехнических изделий (РТИ), силовых и уплотнительных.Расчет, проектирование, определение циклической долговечности резиновых элементов, характеристик их жёсткости, а также изготовление опытных образцов.РТИ, Демпфер резиновый, амортизатор, опытные образцы, проектирование, напряженно-деформированное состояние, долговечность, резиновые элементы">
        {% block stylesheets %}
            <link rel="icon" href="{{ asset('images/grad-logo.ico') }}" type="image/x-icon">
            <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Dancing+Script:700%7CLato:300,300italic,400,700,900">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
        {% endblock %}
    </head>
    <body>

    <!-- IE Panel-->
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"> <img src="{{ asset('images/ie8-panel/warning_bar_0000_us.jpg') }}" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <!-- Page-->
    <div class="page text-center">
        <!-- Page Header-->
        <header class="page-head">
            <!-- RD Navbar Transparent-->
            <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-logo-center novi-background rd-navbar-light" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-lg-stick-up-offset="110px" data-lg-auto-height="true" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
                    <div class="rd-navbar-inner">
                        <div class="container">
                            <div class="rd-navbar-top-block row justify-content-xl-center align-items-xl-center">
                                <div class="col-xl-3">
                                    <p class="d-none d-xl-block">Телефон: <span class="mdi mdi-phone novi-icon text-picton-blue"></span> <a href="tel:+79130864003">+7(913)086-40-03</a></p>
                                </div>
                                <div class="col-xl-6 text-center">
                                    <!--Navbar Brand-->
                                    <div class="rd-navbar-brand"><a href="{{ path('app_about') }}"><h2 class="text-between text-dark">Gradient</h2></a></div>
                                </div>
                                <div class="col-xl-3">
                                    <p class="d-none d-xl-block">Email: <span class="mdi mdi-email novi-icon text-picton-blue"></span> <a class="text-primary" href="mailto:gradient.barnaul@gmail.com">gradient.barnaul@gmail.com</a></p>
                                </div>
                            </div>
                            <!-- RD Navbar Panel-->
                            <div class="rd-navbar-panel">
                                <!-- RD Navbar Toggle-->
                                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap"><span></span></button>
                            </div>
                        </div>
                        <div class="rd-navbar-menu-wrap">
                            <div class="container">
                                <div class="rd-navbar-nav-wrap">
                                    <div class="rd-navbar-mobile-scroll">
                                        <!--Navbar Brand Mobile-->
                                        <div class="rd-navbar-mobile-brand"><a href="{{ path('app_about') }}"><h1 class="text-between text-dark">Gradient</h1></a></div>
                                        <!-- RD Navbar Nav-->
                                        <ul class="rd-navbar-nav">
                                            <li class="{%  if app.request.getPathInfo() == path('app_about') %} active {% endif %}"><a href="{{path('app_about') }}"><span>о компании</span></a></li>
                                            <li class="{%  if app.request.getPathInfo() == path('app_services') %} active {% endif %}"><a href="{{ path('app_services') }}"><span>наши услуги</span></a></li>
                                            <li class="{%  if app.request.getPathInfo() == path('app_products') %} active {% endif %}"><a href="{{ path('app_products') }}"><span>продукция</span></a></li>
                                            <li class="{%  if app.request.getPathInfo() == path('app_contacts') %} active {% endif %}"><a href="{{ path('app_contacts') }}"><span>контакты</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success text-center">{{ message }}</div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger text-center">{{ message }}</div>
        {% endfor %}

        {% block body %}

        {% endblock %}
        <!-- Page Footers-->
        <!-- Footer variant 4-->
        <footer class="section-relative section-34 page-footer bg-gray-base context-dark novi-background">
            <div class="container">
                <div class="row justify-content-md-center text-xl-left">
                    <div class="col-md-12">
                        <div class="row justify-content-sm-center">
                            <div class="col-sm-12 col-lg-8 order-lg-2 text-lg-right">
                                <div>
                                    <ul class="list-inline list-inline-dashed p text-darker list-inline-md list-inline-dashed-wide">
                                        <li class="list-inline-item"><a href="{{ path('app_about') }}">О компании</a></li>
                                        <li class="list-inline-item"><a href="{{ path('app_services') }}">Услуги</a></li>
                                        <li class="list-inline-item"><a href="{{ path('app_products') }}">Продукция</a></li>
                                        <li class="list-inline-item"><a href="{{ path('app_contacts') }}">Контакты</a></li>
                                    </ul>
                                </div>
                                <ul class="list-inline list-inline-white offset-top-10 text-darker">
                                    <li class="list-inline-item"><a class="novi-icon fa fa-youtube" href="#"></a></li>
                                    <li class="list-inline-item"><a class="novi-icon fa fa-vk" href="#"></a></li>
                                </ul>
                            </div>
                            <div class="col-sm-12 col-lg-4 order-lg-1 offset-top-34 offset-lg-top-0">
                                <!-- Footer brand-->
                                <div class="footer-brand"><a href="{{ path('app_about') }}"><h3 class="">ООО <span class="text-primary">"</span>ГРАДИЕНТ<span class="text-primary">"</span></h3></a></div>
                                <p class="small text-darker offset-top-4">&copy; <span id="copyright-year"></span>
                                    .Градиент</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
        {% block javascripts %}
            <!-- Java script-->
            <script src="{{ asset('js/core.min.js') }}"></script>
            <script src="{{ asset('js/script.js') }}"></script>
        {% endblock %}
    </body>
</html>